footer{
  width: 100%;

  .inner{
    padding: 20px;
    display: inline-block;

    .copy{
      font-size: 15px;
      color: #fff;
    }

    @include mobile{
      .inner{
        padding: 10px;

        .copy{
          font-size: 10px;
        }
      }
    }
  }
}

