.header {
  background: #000;
  color: #fff;
  height: 100vh;

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #fff;
  }

  .logo-area {
    font-size: 50px;

    .link-logo {
      display: block;
    }
  }

  .link-contact {
    font-size: 30px;
  }

  .msg-box {
    font-size: 130px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;

    .msg-wrap{
      display: flex;
    }
  }
}
